body {
    background-color:white;
    font-family: 'Open Sans', sans-serif;
}

input[type=text] {
    outline: none;
    border: none;
    width: 100%;
}

h6 {
    color: gray;
    text-align: right;
}

img {
    width:100%;
}



.navbar-brand {
    color: black;
    font-family: 'Oleo Script', cursive;
}

.fas  {
    color: gray;

}

#home {
    background: white;
}

#nav-pills {
    background: white;
}

#spacer {
    background: white;
}

#dropdownMenuButton{
    background: gray;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 4%;
}

#dropdownMenuButton>i{
    color: white;
}


div.tab-content .row{
    border: 2px solid  lightgray ;
}

#logOut{
    color: red;
}

#foto{
    margin-top: 5%;
}

.btn-close{
    height: 30px;
    width: 30px;
}

.nav-pills .nav-link.active{
    color: blue;
    background: transparent
           }
  